<% layout('../layout') -%>

<h1><%= article.name %></h1>
<div class="mt-4">
  <a href="/article/list" class="btn btn-secondary">Tagasi artiklite juurde</a>
  <a href="/article/edit/<%= article.id %>" class="btn btn-warning">Muuda artiklit</a>
  <form action="/article/delete/<%= article.id %>" method="POST" class="d-inline">
    <button type="submit" class="btn btn-danger" onclick="return confirm('Kas oled kindel?')">Kustuta artikkel</button>
  </form>
</div>